<form [formGroup]="myForm" novalidate (ngSubmit)="submit()">
  <h1>Registration</h1>
  <div class="form-group">
      <label>Name</label>
      <input class="form-control" name="fname" formControlName="userName" />

      <div class="alert alert-danger"
          *ngIf="myForm.controls['userName'].invalid && myForm.controls['userName'].touched">
          name entered incorrectly
      </div>
      <label>Login/Username</label>
      <input class="form-control" name="login" formControlName="userLogin" />

      <div class="alert alert-danger"
          *ngIf="myForm.controls['userLogin'].invalid && myForm.controls['userLogin'].touched">
          name entered incorrectly
      </div>
  </div>
  <div class="form-group">
      <label>Email</label>
      <input class="form-control" name="email" formControlName="userEmail" />

      <div class="alert alert-danger"
          *ngIf="myForm.controls['userEmail'].invalid && myForm.controls['userEmail'].touched">
          Email entered incorrectly
      </div>
  </div>
  <div class="form-group">
      <label>Password</label>
      <input  type="password" class="form-control" name="phone" formControlName="userPassword" />
      <div class="alert alert-danger"
          *ngIf="myForm.controls['userPassword'].invalid && myForm.controls['userPassword'].touched">
          Password entered incorrectly
      </div>
  </div>
  <div class="form-group">
      <button class="btn btn-default" [disabled]="myForm.invalid" (click)="storeUser()" routerLink="/login">
          Register
      </button>
      <button class="btn btn-default" routerLink="/login">
        Sing in
    </button>
  </div>
</form>
